# Automatically inserted by Opencode
node_modules
package.json
package-lock.json
bun.lock

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Custom entries

# Folders
test/
.venv/
agents/**/test/
agents/**/tests/
skills/**/test/
skills/**/tests/

# Files
*.pyc
*.png
